h1{text-align:center;background-color:#b607ad;color:#b607ad;}
h3{text-align:center; background-color:#a807a0;text-align:center;}
b{color:deep pink;font-size:18px;}
i{color:violet;font-size:18px;}
header,footer{background-color:#9f06ad;color:#000000;}
main{background-color:#42D4CC}
.PRIMEIROPARAGRAFO{text-align:justify;font-size:18px;border:#b607ad solid 2px;padding:10px;margin:10px}
.SEGUNDOPARAGRAFO{text-align:justify;font-size:18px border black solid 2px padding 10px;margin:10px
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: #b607ad(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #b607ad;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #42D4CC(24, 139, 233);
}


