h1{text-align:center;background-color:#b607ad;color:#b607ad;}
h3{text-align:center; background-color:#a807a0;text-align:justify;}
b{color:deep pink;font-size:18px;}
i{color:violet;font-size:18px;}
header,footer{background-color:#9f06ad;color:#000000;}
main{background-color:#42D4CC}
.PRIMEIROPARAGRAFO{text-align:justify;font-size:18px;border:#b607ad solid 2px;padding:10px;margin:10px}
.SEGUNDOPARAGRAFO{text-align:justify;font-size:18px border black solid 2px padding 10px;margin:10px}
:root {
    --cor-principal: rgb(46, 62, 77);
    --cor-secundaria: rgb(222, 228, 235);
}

nav {
    max-width: 350px;
    width: 100%;
    background-color: aquamarine;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria);
}

nav ul li a {
    background-color: var(--cor-principal);
    color: #FFF;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: background .3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}